body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

.ChatWindow {
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: inline-flex;
    width: inherit;
    height: inherit;
}

#side-bar {
    display: none;
}

.OnlineUsers {
    opacity: 1;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #1D1806;
}

.OnlineUsers > h1 {
    font-family: 'Arvo', serif;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.OnlineUsers > div {
    font-family: 'Arvo', serif;
    color: #fff;
    font-size: 1rem;
    width: 100%;
}

.OnlineUsers > div > ul {
    list-style: none;
    padding-inline-start: 0;
    word-break: break-all;
}

.OnlineUsers > div > ul > li {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(79, 160, 90);
    margin: 1rem;
    text-align: center;
    font-weight: bold;
}


.MainContent {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    left: 20%;
    background: linear-gradient(to bottom right, #1D1806, rgba(0,0,0,0.7));
}

#message-form {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: 20%;
    margin: 1rem;
    position: relative;
}

#message-form > input {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    resize: none;
    width: 100%;
    height: 60%;
}

#message-form > input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#message-form > i {
    position: absolute;
    cursor: pointer;
}

#message-form > i:hover {
    color: #9F8270;
}

#img-location {
    display: none;
}

.ShowGif {
    display: block !important;  /* Overwrite the id selector specifity */
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid gray;
}

#send-message {
    bottom: 1%;
    right: 1%;
}

#send-location {
    bottom: 1%;
    right: 5%;
}

.DisabledButton {
    cursor: not-allowed !important; /* Overwrite CSS specifity for id selector */
    color: rgba(0,0,0,0.5) !important;
    pointer-events: none;   /* IE browser issues for older versions */
}

.MessageBox {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.4rem;
    list-style-type: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

.MessageBox li a {
    color: #9F8270;
    text-decoration: none;
}

.MessageBox li a:hover {
    color: #fff;
    text-decoration: underline;
}

.LeftSideAdd {
    opacity: 1;
}

.LeftSideRemove {
    opacity: 1;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.message__title {
    display: inline-flex;
}

.message__title > span {
    width: auto;
    margin-right: 0.75rem;
}

.message__body {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .OnlineUsers {
        opacity: 0;
    }

    #side-bar {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
        color: #9F8270;
        position: fixed;
        top: 10px;
        left: 5px;
        z-index: 2;
    }

    .MainContent {
        width: 100%;
        padding-top: 1.5rem;
        position: static;
    }

    #send-message {
        bottom: 1%;
        right: 1%;
    }
    
    #send-location {
        bottom: 1%;
        right: 12%;
    }

    .LeftSideAdd {
        opacity: 0;
        animation: openSideBar 500ms ease-in forwards;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        width: 60%;
        height: 100%;
        background-color: #1D1806;
        position: absolute;
        z-index: 1;
    }
    
    .LeftSideRemove {
        opacity: 0;
        animation: closeSideBar 500ms ease-in-out forwards;
    }
}


/* index.html */

.centered { 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #1D1806, rgba(0,0,0,0.7));
}

.centered__form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    border-radius: 5px;
}

.form__element {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form__element__title {
    text-align: center;
    color: #9F8270;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.form__element__btn {
    background-color: #9F8270;
    color: #fff;
    cursor: pointer;
    height: 1.5rem;
    border-style: none;
}

.form__element > input {    /* direct inheritance only */
    display: flex;
    height: 2rem;
    margin-top: 0.5rem;
}

/* chat.html side bar animations */

@keyframes openSideBar {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    50% {
        opacity: 1;
        transform: translateX(-50vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeSideBar {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(-50vw);
    }
    100% {
        opacity: 0;
        transform: translateX(-100vw);
    }
}