body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

.ChatWindow {
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: inline-flex;
    width: inherit;
    height: inherit;
}

#side-bar {
    display: none;
}

.OnlineUsers {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #1D1806;
}

.OnlineUsers h1{
    font-family: 'Arvo', serif;
    color: #fff;
    font-size: 1rem;
}

.MainContent {
    display: flex;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    flex-direction: column;
    background: linear-gradient(to bottom right, #1D1806, rgba(0,0,0,0.7));
}

#message-form {
    width: auto;
    height: 20%;
    margin: 1rem;
    position: relative;
}

#message-form > textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    resize: none;
    width: 100%;
    height: 100%;
}

#message-form > textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#message-form > i {
    position: absolute;
    cursor: pointer;
}

#message-form > i:hover {
    color: #9F8270;
}

#img-location {
    display: none;
}

.ShowGif {
    display: block !important;  /* Overwrite the id selector specifity */
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 20%;
    right: 0;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid gray;
}

#send-message {
    bottom: 1%;
    right: 1%;
}

#send-location {
    bottom: 1%;
    right: 3%;
}

.DisabledButton {
    cursor: not-allowed !important; /* Overwrite CSS specifity for id selector */
    color: rgba(0,0,0,0.5) !important;
    pointer-events: none;   /* IE browser issues for older versions */
}

.MessageBox {
    font-family: 'Montserrat', sans-serif;
    padding-top: 0.4rem;
    list-style-type: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
}

.MessageBox li a {
    color: #9F8270;
    text-decoration: none;
}

.MessageBox li a:hover {
    color: #fff;
    text-decoration: underline;
}

.LeftSideAdd {
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 40%;
    height: 100%;
    background-color: #1D1806;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.message__title {
    display: inline-flex;
}

.message__title > span {
    width: auto;
    margin-right: 0.75rem;
}

.message__body {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .OnlineUsers {
        display: none;
    }

    #side-bar {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
        color: #9F8270;
        position: fixed;
        top: 10px;
        left: 5px;
    }

    .MainContent {
        width: 100%;
        padding-top: 1.5rem;
    }

    #send-message {
        bottom: 1%;
        right: 1%;
    }
    
    #send-location {
        bottom: 1%;
        right: 10%;
    }
}


/* index.html */

.centered { 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom right, #1D1806, rgba(0,0,0,0.7));
}

.centered__form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #fff;
    border-radius: 5px;
}

.form__element {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form__element__title {
    text-align: center;
    color: #9F8270;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.form__element__btn {
    background-color: #9F8270;
    color: #fff;
    cursor: pointer;
    height: 1.5rem;
    border-style: none;
}

.form__element > input {    /* direct inheritance only */
    display: flex;
    height: 2rem;
    margin-top: 0.5rem;
}